/* Import Bootstrap */
@import '../css/quill-custom.css';

.floating-start-tour-btn {
    position: fixed;
    bottom: 140px;
    right: 30px;
    width: 45px;
    height: 45px;
    border-radius: 8px;
    background-color: #CC0000;
    border: none;
    color: white;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 0;
}

.btn-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.floating-start-tour-btn i {
    font-size: 24px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: left 0.3s ease;
}

.start-tour-text {
    white-space: nowrap;
    margin-left: 25px;
    opacity: 0;
    transition: opacity 0.3s ease;
    visibility: hidden;
    font-size: 16px;
}

.floating-start-tour-btn:hover {
    width: 150px;
    border-radius: 25px;
}

.floating-start-tour-btn:hover i {
    left: 25px;
}

.floating-start-tour-btn:hover .start-tour-text {
    opacity: 1;
    visibility: visible;
}

/* Hover effect */
.floating-start-tour-btn:hover {
    background-color: #CC0000;
}
